<div class="images-grid">
  <div class="image-container" *ngFor="let image of images" (click)="selectImage(image)">
    <div class="image-wrapper">
      <img [src]="getImageUrl(image.image_path)" alt="{{ image.title }}" (click)="selectImage(image)">
    </div>
    <div class="text-wrapper">
      <h3 class="title">{{ image.title }}</h3>
      <p class="description">{{ image.description }}</p>
      <p class="date-published">Publié le {{ image.date_published | date: 'd MMMM y, HH:mm' }}</p>
    </div>
  </div>
</div>
<app-image-modal *ngIf="selectedImage" [image]="selectedImage" [image_id]="selectedImage.id"></app-image-modal>
