<form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
  <label>Title:</label>
  <input type="text" formControlName="title" placeholder="Title">
  <label>Description:</label>
  <input type="text" formControlName="description" placeholder="Description">
  <!-- <label>User ID:</label>
  <input type="number" formControlName="userId" placeholder="User ID"> -->
  <label>Category:</label>
  <input type="text" formControlName="category" placeholder="Category (optional)">
 <input type="file" (change)="onFileSelect($event)" accept="image/*">
 <button [disabled]="!uploadForm.valid || !isLoggedIn" type="submit">Upload</button>
</form>


