<div class="modal-backdrop" *ngIf="isVisible" (click)="closeModal()">
  <div class="modal" (click)="$event.stopPropagation()">
    <div class="image-section" style="flex: 1; margin-right: 20px;">
      <img [src]="getImageUrl(image.image_path)" alt="{{ image.title }}">
    </div>
    <div class="data-section" style="flex: 1; overflow-y: auto;height: 80vh">
      <button class="close-button" (click)="closeModal()">&times;</button>
      <h3>{{ image.title }}</h3>
      <p class="author">Author: {{ image.author }}</p>
      <p>{{ image.description }}</p>
      <p>Date Published: {{ image.date_published | date:'medium' }}</p>
      <div class="comment-section">
        <div class="comment-list">
          <app-comment-view [image_id]="image.id"></app-comment-view>
        </div>
        <div class="comment-form">
          <app-comment-upload [image_id]="image.id"></app-comment-upload>
        </div>
      </div>
    </div>
  </div>
</div>
