.comments-list {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Réduit l'espace entre les commentaires */
  margin: 10px; /* Réduit la marge extérieure */
  height: 33vh;
  overflow: auto;
}

.comment-container {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 4px; /* Réduit le rembourrage intérieur */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.comment-author {
  font-size: 14px; /* Réduit la taille de la police */
  color: #333;
  margin-bottom: 3px; /* Réduit l'espace après le nom de l'auteur */
}

.comment-content {
  font-size: 12px; /* Réduit la taille de la police */
  color: #666;
  margin-bottom: 3px; /* Réduit l'espace après le contenu du commentaire */
}

.comment-date {
  font-size: 10px; /* Réduit la taille de la police */
  color: #999;
  text-align: right;
}
